<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MybatisBuilder.project.settings">
    <option name="connectionInfoList">
      <list>
        <ConnectionInfo>
          <option name="database" value="netos.weny.main" />
          <option name="description" value="" />
          <option name="driverClass" value="" />
          <option name="driverLibrary" value="" />
          <option name="driverType" value="MySQL" />
          <option name="host" value="47.104.128.137" />
          <option name="id" value="fb955481558446d6a2516b34d77a3d77" />
          <option name="name" value="netos.weny.main" />
          <option name="port" value="3306" />
          <option name="url" value="" />
          <option name="userName" value="cj" />
        </ConnectionInfo>
      </list>
    </option>
    <option name="defaultParameters">
      <DefaultParameters>
        <option name="renameConfig">
          <Config>
            <option name="mapperTypePattern" value="" />
            <option name="exampleTypePattern" value="" />
            <option name="sqlFileNamePattern" value="" />
          </Config>
        </option>
        <option name="selectWithLockConfig">
          <SelectWithLockConfig>
            <option name="byPrimaryKeyWithLockOverride" value="" />
            <option name="byExampleWithLockOverride" value="" />
          </SelectWithLockConfig>
        </option>
      </DefaultParameters>
    </option>
    <option name="historyMap">
      <map>
        <entry key="JAVA_CLIENT_PACKAGE">
          <value>
            <list>
              <option value="cj.netos.gateway.wybank.mapper" />
            </list>
          </value>
        </entry>
        <entry key="JAVA_MODEL_PACKAGE">
          <value>
            <list>
              <option value="cj.netos.gateway.wybank.model" />
            </list>
          </value>
        </entry>
        <entry key="SQL_MAP_PACKAGE">
          <value>
            <list>
              <option value="cj.db.mappings" />
              <option value="sqlmap" />
            </list>
          </value>
        </entry>
      </map>
    </option>
    <option name="lastGeneratorParamWrapper">
      <GeneratorParamWrapper>
        <option name="defaultTableConfigWrapper">
          <TableConfigurationWrapper>
            <option name="domainObjectRenamingRule">
              <DomainObjectRenamingRule>
                <option name="replaceString" value="" />
                <option name="searchString" value="" />
              </DomainObjectRenamingRule>
            </option>
            <option name="generatedKeyWrapper">
              <GeneratedKeyWrapper>
                <option name="column" value="" />
              </GeneratedKeyWrapper>
            </option>
          </TableConfigurationWrapper>
        </option>
        <option name="javaClientConfig">
          <JavaClientGeneratorConfiguration>
            <option name="configurationType" value="XMLMAPPER" />
            <option name="targetPackage" value="cj.netos.gateway.wybank.mapper" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.gateway.wybank.program/src" />
          </JavaClientGeneratorConfiguration>
        </option>
        <option name="javaModelConfig">
          <JavaModelGeneratorConfiguration>
            <option name="targetPackage" value="cj.netos.gateway.wybank.model" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.gateway.wybank.openports/src" />
          </JavaModelGeneratorConfiguration>
        </option>
        <option name="sqlMapConfig">
          <SqlMapGeneratorConfiguration>
            <option name="targetPackage" value="cj.db.mappings" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.gateway.wybank.program/src" />
          </SqlMapGeneratorConfiguration>
        </option>
      </GeneratorParamWrapper>
    </option>
    <option name="tableInfoMap">
      <map>
        <entry key="netos.weny.main#bank_info">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="BankInfo" />
              <option name="tableComment" value="银行信息" />
              <option name="tableName" value="bank_info" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#exchange_record">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="ExchangeRecord" />
              <option name="tableComment" value="承兑流水表。&#10;到达市盈率自动承况，即实现结算程序" />
              <option name="tableName" value="exchange_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#purchase_record">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="PurchaseRecord" />
              <option name="tableComment" value="" />
              <option name="tableName" value="purchase_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#shunt_details">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="ShuntDetails" />
              <option name="tableComment" value="分账结果" />
              <option name="tableName" value="shunt_details" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#shunt_record">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="ShuntRecord" />
              <option name="tableComment" value="分账流水表（不论是ports api触发还是申购事件触发均记录）" />
              <option name="tableName" value="shunt_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#shunter">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="Shunter" />
              <option name="tableComment" value="分账器，定义分账比例&#10;" />
              <option name="tableName" value="shunter" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#shunter_details">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="ShunterDetails" />
              <option name="tableComment" value="分账明细。加起来等于shunter_record的amount&#10;庸余：记录分账时shunter_rule规则的快照" />
              <option name="tableName" value="shunter_details" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#shunter_record">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="ShunterRecord" />
              <option name="tableComment" value="" />
              <option name="tableName" value="shunter_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#shunter_rights">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="ShunterRights" />
              <option name="tableComment" value="分账金提现权限。限定哪些person可取现" />
              <option name="tableName" value="shunter_rights" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#shunter_rule">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="ShunterRule" />
              <option name="tableComment" value="分账规则表，定义分账比例和具体的分账目标" />
              <option name="tableName" value="shunter_rule" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#ttm_config">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="TtmConfig" />
              <option name="tableComment" value="市盈率配置" />
              <option name="tableName" value="ttm_config" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#withdraw_record">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="WithdrawRecord" />
              <option name="tableComment" value="向分账器提现记录流水表" />
              <option name="tableName" value="withdraw_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#withdraw_rights">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="WithdrawRights" />
              <option name="tableComment" value="对分账器的提现权限。限定哪些person可取现" />
              <option name="tableName" value="withdraw_rights" />
            </TableInfo>
          </value>
        </entry>
      </map>
    </option>
  </component>
</project>