<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MybatisBuilder.project.settings">
    <option name="connectionInfoList">
      <list>
        <ConnectionInfo>
          <option name="database" value="netos.weny.main" />
          <option name="description" value="" />
          <option name="driverClass" value="" />
          <option name="driverLibrary" value="" />
          <option name="driverType" value="MySQL" />
          <option name="host" value="120.27.15.205" />
          <option name="id" value="fb955481558446d6a2516b34d77a3d77" />
          <option name="name" value="netos.weny.main" />
          <option name="port" value="3306" />
          <option name="url" value="" />
          <option name="userName" value="cj" />
        </ConnectionInfo>
      </list>
    </option>
    <option name="defaultParameters">
      <DefaultParameters>
        <option name="renameConfig">
          <Config>
            <option name="mapperTypePattern" value="" />
            <option name="exampleTypePattern" value="" />
            <option name="sqlFileNamePattern" value="" />
          </Config>
        </option>
        <option name="selectWithLockConfig">
          <SelectWithLockConfig>
            <option name="byPrimaryKeyWithLockOverride" value="" />
            <option name="byExampleWithLockOverride" value="" />
          </SelectWithLockConfig>
        </option>
      </DefaultParameters>
    </option>
    <option name="historyMap">
      <map>
        <entry key="JAVA_CLIENT_PACKAGE">
          <value>
            <list>
              <option value="cj.netos.gateway.wybank.mapper" />
            </list>
          </value>
        </entry>
        <entry key="JAVA_MODEL_PACKAGE">
          <value>
            <list>
              <option value="cj.netos.gateway.wybank.model" />
            </list>
          </value>
        </entry>
        <entry key="SQL_MAP_PACKAGE">
          <value>
            <list>
              <option value="cj.db.mappings" />
              <option value="sqlmap" />
            </list>
          </value>
        </entry>
      </map>
    </option>
    <option name="lastGeneratorParamWrapper">
      <GeneratorParamWrapper>
        <option name="defaultTableConfigWrapper">
          <TableConfigurationWrapper>
            <option name="domainObjectRenamingRule">
              <DomainObjectRenamingRule>
                <option name="replaceString" value="" />
                <option name="searchString" value="" />
              </DomainObjectRenamingRule>
            </option>
            <option name="generatedKeyWrapper">
              <GeneratedKeyWrapper>
                <option name="column" value="" />
              </GeneratedKeyWrapper>
            </option>
          </TableConfigurationWrapper>
        </option>
        <option name="javaClientConfig">
          <JavaClientGeneratorConfiguration>
            <option name="configurationType" value="XMLMAPPER" />
            <option name="targetPackage" value="cj.netos.gateway.wybank.mapper" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.gateway.wybank.program/src" />
          </JavaClientGeneratorConfiguration>
        </option>
        <option name="javaModelConfig">
          <JavaModelGeneratorConfiguration>
            <option name="targetPackage" value="cj.netos.gateway.wybank.model" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.gateway.wybank.openports/src" />
          </JavaModelGeneratorConfiguration>
        </option>
        <option name="sqlMapConfig">
          <SqlMapGeneratorConfiguration>
            <option name="targetPackage" value="cj.db.mappings" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.gateway.wybank.program/src" />
          </SqlMapGeneratorConfiguration>
        </option>
      </GeneratorParamWrapper>
    </option>
    <option name="tableInfoMap">
      <map>
        <entry key="netos.wallet.main#deposit_absorb_activity">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="DepositAbsorbActivity" />
              <option name="tableComment" value="存入洇金处理步骤" />
              <option name="tableName" value="deposit_absorb_activity" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#deposit_absorb_record">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="DepositAbsorbRecord" />
              <option name="tableComment" value="存入洇金" />
              <option name="tableName" value="deposit_absorb_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#pay_activity">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="PayActivity" />
              <option name="tableComment" value="支付处理步骤。&#10;包括退款过程" />
              <option name="tableName" value="pay_activity" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#pay_channel">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="PayChannel" />
              <option name="tableComment" value="支付渠道&#10;用户配置的支付渠道" />
              <option name="tableName" value="pay_channel" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#pay_details">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="PayDetails" />
              <option name="tableComment" value="交易明细，如类型是支付订单，则明细中有商户、订单号等" />
              <option name="tableName" value="pay_details" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#pay_record">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="PayRecord" />
              <option name="tableComment" value="支付记录单" />
              <option name="tableName" value="pay_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#platform_account">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="PlatformAccount" />
              <option name="tableComment" value="平台账户，用于记录充值和提现的总金额及余额&#10;目的是采用复试记账，池内外对账平衡。&#10;由于提现充值都是从第三方渠道决清的，因此平台账户应放到网关，以核息内部后续的决清过程是否有出错" />
              <option name="tableName" value="platform_account" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#recharge_activity">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="RechargeActivity" />
              <option name="tableComment" value="充值处理步骤" />
              <option name="tableName" value="recharge_activity" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#recharge_record">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="RechargeRecord" />
              <option name="tableComment" value="冲值流水表" />
              <option name="tableName" value="recharge_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#trans_absorb_activity">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="TransAbsorbActivity" />
              <option name="tableComment" value="转洇金处理步骤" />
              <option name="tableName" value="trans_absorb_activity" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#trans_absorb_record">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="TransAbsorbRecord" />
              <option name="tableComment" value="洇金转入零钱" />
              <option name="tableName" value="trans_absorb_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#trans_profit_activity">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="TransProfitActivity" />
              <option name="tableComment" value="转收益金处理步骤" />
              <option name="tableName" value="trans_profit_activity" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#trans_profit_record">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="TransProfitRecord" />
              <option name="tableComment" value="收益金转入零钱" />
              <option name="tableName" value="trans_profit_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#weny_exchange_activity">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="WenyExchangeActivity" />
              <option name="tableComment" value="承兑处理步骤" />
              <option name="tableName" value="weny_exchange_activity" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#weny_exchange_record">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="WenyExchangeRecord" />
              <option name="tableComment" value="纹银承兑流水表" />
              <option name="tableName" value="weny_exchange_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#weny_purch_activity">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="WenyPurchActivity" />
              <option name="tableComment" value="申购处理步骤" />
              <option name="tableName" value="weny_purch_activity" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#weny_purch_record">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="WenyPurchRecord" />
              <option name="tableComment" value="纹银申购流水表" />
              <option name="tableName" value="weny_purch_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#withdraw_activity">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="WithdrawActivity" />
              <option name="tableComment" value="提现处理步骤" />
              <option name="tableName" value="withdraw_activity" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#withdraw_record">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="WithdrawRecord" />
              <option name="tableComment" value="提现流水表" />
              <option name="tableName" value="withdraw_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#work_day">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="WorkDay" />
              <option name="tableComment" value="会计日期切换表，&#10;各账户前日余额及当前日终快照，并置日切状态为正在切换&#10;原理：当插入一条记录时，初始状态为正在日切，则继续接受交易，添加的账金变动单记录的会计日期使用下一个会计日期，而不是当前会计日期，这样只需核到开始日切前的日账&#10;可以充许一一个会计日期账有错，在一下个日切时会被纠正，纠正生成记录给用户查看" />
              <option name="tableName" value="work_day" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#bank_info">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="BankInfo" />
              <option name="tableComment" value="银行信息" />
              <option name="tableName" value="bank_info" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#exchange_record">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="ExchangeRecord" />
              <option name="tableComment" value="承兑流水表。&#10;到达市盈率自动承况，即实现结算程序" />
              <option name="tableName" value="exchange_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#incubator">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="Incubator" />
              <option name="tableComment" value="纹银银行浮化器" />
              <option name="tableName" value="incubator" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#incubator_events">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="IncubatorEvents" />
              <option name="tableComment" value="浮华器事件" />
              <option name="tableName" value="incubator_events" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#purchase_record">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="PurchaseRecord" />
              <option name="tableComment" value="" />
              <option name="tableName" value="purchase_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#shunt_details">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="ShuntDetails" />
              <option name="tableComment" value="分账结果" />
              <option name="tableName" value="shunt_details" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#shunt_record">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="ShuntRecord" />
              <option name="tableComment" value="分账流水表（不论是ports api触发还是申购事件触发均记录）" />
              <option name="tableName" value="shunt_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#shunter">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="Shunter" />
              <option name="tableComment" value="分账器，定义分账比例&#10;" />
              <option name="tableName" value="shunter" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#shunter_details">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="ShunterDetails" />
              <option name="tableComment" value="分账明细。加起来等于shunter_record的amount&#10;庸余：记录分账时shunter_rule规则的快照" />
              <option name="tableName" value="shunter_details" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#shunter_record">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="ShunterRecord" />
              <option name="tableComment" value="" />
              <option name="tableName" value="shunter_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#shunter_rights">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="ShunterRights" />
              <option name="tableComment" value="分账金提现权限。限定哪些person可取现" />
              <option name="tableName" value="shunter_rights" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#shunter_rule">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="ShunterRule" />
              <option name="tableComment" value="分账规则表，定义分账比例和具体的分账目标" />
              <option name="tableName" value="shunter_rule" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#ttm_config">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="TtmConfig" />
              <option name="tableComment" value="市盈率配置" />
              <option name="tableName" value="ttm_config" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#withdraw_record">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="WithdrawRecord" />
              <option name="tableComment" value="向分账器提现记录流水表" />
              <option name="tableName" value="withdraw_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.weny.main#withdraw_rights">
          <value>
            <TableInfo>
              <option name="database" value="netos.weny.main" />
              <option name="domainName" value="WithdrawRights" />
              <option name="tableComment" value="对分账器的提现权限。限定哪些person可取现" />
              <option name="tableName" value="withdraw_rights" />
            </TableInfo>
          </value>
        </entry>
      </map>
    </option>
  </component>
</project>